body{
    margin: 0; 
    padding: 0; 
    overflow: hidden;
}

canvas { 
    width: 100%; 
    height: 100%; 
}

#parascore{
    color:#1670f0;
    font-size: 50px;
    padding-top: 43px;
    padding-bottom: 43px;
    padding-left: 50px;
    font-family: Impact, Charcoal, sans-serif;
}

#paravie{
    color:#1670f0;
    font-size: 16px;
    position: absolute;
    top: 120px;
    left: 30px;
    display: none;
}

#aide{
    color:#1670f0;
    font-size: 16px;
    position: absolute;
    bottom: 160px;
    /*left: 30px;*/
    margin: 50px;
    padding-right: 50px;
    display: block;
    width: 168px;
    font-family: "Trebuchet MS", Helvetica, sans-serif
}

#blockGauche{
    background-color: #0c002b;
    background: linear-gradient(to right, #0c002b, #286f8a);
    display: block;
    width: 268px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#blockDroite{
    background-color: #0c002b;
    background: linear-gradient(to left, #0c002b, #286f8a);
    display: block;
    width: 268px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.loader{
    position: absolute;
    top : 400px;
    left: 25px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
    animation: animate 2s linear infinite;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

.loader:before{
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    background: transparent;
    border-radius: 50%;
    z-index: 1000;
}

.loader:after{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom:0px;
    background: #000;
    border-radius: 50%;
    background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
    z-index: 1000;
    z-index: 1;
    filter: blur(20px);
}


#recap{
    display: block;
    width: 500px;
    background-color: #0c002b;
    color: #1670f0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity:0.8;
}

#recap #title{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}

#recap #score{
    text-align: center;
    font-size: 20px;
}

#recap #retry{
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
    font-size: 20px;
    padding: 20px 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    overflow: hidden;
    background-color: transparent;
    color: #1670f0;
    border: 2px solid #3b3464;
}

#recap #retry:hover{
    cursor: pointer;
    background-color: #120d64fa;
    /*color: white;*/
    border-color:#1670f0;
    transition: all 0.3s ease-out;
}

/*
#recap:before{
    content: '';
    position: relative;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background-color: rgba(255,255,255,0.05);
}*/



#recap .sp:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;    
    background: linear-gradient(to right, #0c002b, #1779ff);
    animation: animate1 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate1{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}

#recap .sp:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 2px;
    background: linear-gradient(to bottom, #0c002b, #1779ff);
    animation: animate2 2s linear infinite;

}

@keyframes animate2{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}

#recap .sp:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;    
    background: linear-gradient(to left, #0c002b, #1779ff);
    animation: animate3 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate3{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}



#recap .sp:nth-child(4){
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background: linear-gradient(to top, #0c002b, #1779ff);
    animation: animate4 2s linear infinite;

}


@keyframes animate4{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}

#test{
    color: #e21d27;
    font-size: 50px;
    padding: 43px;
}

#test i{
    padding: 5px;
}
